@import 
url('https://fonts.googleapis.com/css2?family=Anton&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --bg-color: #BFECFF;
    --primary-color: #CDC1FF;
    --secundary-color: #FFCCEA;
    --font:"Merriweather", serif;
   }

body {
    background-color: #BFECFF;
    color: #CDC1FF;
    font-family: var("Merriweather", serif);
    height: 100vh;
    margin: 0;
   }

header{
    background-color: #BFECFF;
    text-align: center;
    padding: 1px;
   }

h1{
    font-size: 2rem;
    color: #BFECFF;
    font-weight: 700;
   }
   
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;

}

nav a {
    text-decoration: none;
    color: #BFECFF;
    margin: 0rem 2rem 3rem 0rem;
    font-size: 12rem;   
}

nav a {
    text-decoration: undernine;
    transform: scale(0.90);
    transition: transform 0.1s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CDC1FF;
    color: #BFECFF;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}

graficos-container {
    margin: 5rem;
}

graficos-container__texto {
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border:#FFCCEA solid 2px;
}

span {
    font-weight: bold;
    color:#FFCCEA;
}